// Site Header

.site-header {
  background-color: rgba(255, 255, 255, .6);
  position: fixed;
  text-align: right;
  width: 100%;
  z-index: 999;
}

.site-header .search-form {
  float: right;
  margin-top: 12px;
  width: 288px;
}

// Title Area

.title-area {
  float: left;
  padding: 20px 0;
}

.site-title a img {
  vertical-align: top;
}

.site-title {
  margin-bottom: 0;
}

// Header Breakpoint at 960px


@include media($large-screen-up) {
  .site-header .search-form {
    float: none;
    margin: 16px auto;
    text-align: center;
  }

  .site-description,
  .site-title {
    text-align: center;
  }

}

// Header Breakpoint at 768px

@include media($small-screen-up) {
  .title-area {
    float: none;
    padding-right: 0;
  }

}
