// Site Header

.site-header {
  background-color: rgba(255, 255, 255, .6);
  //position: fixed;
  text-align: right;
  width: 100%;
  z-index: 999;
}


// Title Area

.title-area {
  float: left;
  padding-top: em(20);

  @include media($small-screen-up) {
    float: none;
    padding-right: 0;
    text-align: $text-center;
  }
}


// Shring logo by 75% between 768px and 960px so the menu
// has room as the page scales down. This is the only way to
// stop the menu from breaking into two rows.

@include media($large-screen-up) {
  .site-title a img {
    width: em(250);

    @include media($small-screen-up-min) {
      width: em(200);
    }
  }
}



