/*! sanitize.css v3.0.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
audio:not([controls]) {
  display: none; }

button {
  overflow: visible;
  -webkit-appearance: button; }

details {
  display: block; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

input {
  -webkit-border-radius: 0; }
  input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; }
  input[type="number"] {
    width: auto; }
  input[type="search"] {
    -webkit-appearance: textfield; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

main {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

summary {
  display: block; }

svg:not(:root) {
  overflow: hidden; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0; }

:root {
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font: 100%/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #b3d4fc;
  color: #fff;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  color: #fff;
  text-shadow: none; }

[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute; }
  [hidden][aria-hidden="false"]:focus {
    clip: auto; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #5c6770;
  border: 0;
  border-radius: 0.1875em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "cooper_hewittsemibold", "Verdana", sans-serif;
  font-size: 1.125em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #4a525a;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #5c6770; }

fieldset {
  background-color: #f2f1f1;
  border: 1px solid #c9c8c7;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "cooper_hewittbook", "Verdana", sans-serif;
  font-size: 1.125em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #c9c8c7;
  border-radius: 0.1875em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "cooper_hewittbook", "Verdana", sans-serif;
  font-size: 1.125em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #a1a09f; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #5c6770;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(81, 90, 98, 0.7);
    outline: none;
    color: transparent; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #c9c8c7; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

.search-form {
  overflow: hidden; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #979695;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #c9c8c7;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "cooper_hewittsemibold", "Verdana", sans-serif;
  font-size: 1.125em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #5c6770;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #454d54; }

hr {
  border-bottom: 1px solid #c9c8c7;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  word-break: break-all;
  text-align: center;
  font-family: 'droid_serifitalic', 'Verdana', 'sans-serif';
  color: #676767; }
  blockquote::before {
    color: #b6c4cb;
    content: "\201C";
    display: block;
    font-size: 60px;
    height: 0;
    position: relative;
    right: 325px;
    top: -15px; }
  blockquote::after {
    content: "\201D";
    display: block;
    font-size: 60px;
    height: 0;
    left: 290px;
    position: relative;
    bottom: 70px;
    color: #b6c4cb; }

embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%; }

img {
  height: auto; }

.featured-content img,
.gallery img {
  width: auto; }

.gallery {
  overflow: hidden; }

.gallery-item {
  float: left;
  margin: 0 0 28px;
  text-align: center; }

.gallery-columns-2 .gallery-item {
  width: 50%; }

.gallery-columns-3 .gallery-item {
  width: 33%; }

.gallery-columns-4 .gallery-item {
  width: 25%; }

.gallery-columns-5 .gallery-item {
  width: 20%; }

.gallery-columns-6 .gallery-item {
  width: 16.6666%; }

.gallery-columns-7 .gallery-item {
  width: 14.2857%; }

.gallery-columns-8 .gallery-item {
  width: 12.5%; }

.gallery-columns-9 .gallery-item {
  width: 11.1111%; }

.gallery img {
  border: 1px solid #ddd;
  height: auto;
  padding: 4px; }

.gallery img:hover,
.gallery img:focus {
  border: 1px solid #999; }

a.aligncenter img {
  display: block;
  margin: 0 auto; }

a.alignnone {
  display: inline-block; }

.alignleft {
  float: left;
  text-align: left; }

.alignright {
  float: right;
  text-align: right; }

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%; }

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px; }

img.alignnone,
.alignnone {
  margin-bottom: 12px; }

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0; }

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px; }

.wp-caption-text {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center; }

.entry-content p.wp-caption-text {
  margin-bottom: 0; }

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 28px; }

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
  content: " ";
  display: table; }

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
  clear: both;
  content: " ";
  display: table; }

.site-inner,
.wrap {
  margin: 0 auto;
  max-width: 80em; }

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  width: 63.75em; }

.content-sidebar-sidebar .content-sidebar-wrap {
  float: left; }

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  float: right; }

.content {
  float: right;
  width: 52.5em; }

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
  float: left; }

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
  width: 38.75em; }

.full-width-content .content {
  width: 100%; }

.sidebar-primary {
  float: right;
  width: 22.5em; }

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
  float: left; }

.sidebar-secondary {
  float: left;
  width: 11.25em; }

.content-sidebar-sidebar .sidebar-secondary {
  float: right; }

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 2.564102564102564%; }

.one-half,
.three-sixths,
.two-fourths {
  width: 48.717948717948715%; }

.one-third,
.two-sixths {
  width: 31.623931623931625%; }

.four-sixths,
.two-thirds {
  width: 65.81196581196582%; }

.one-fourth {
  width: 23.076923076923077%; }

.three-fourths {
  width: 74.35897435897436%; }

.one-sixth {
  width: 14.52991452991453%; }

.five-sixths {
  width: 82.90598290598291%; }

.first {
  clear: both;
  margin-left: 0; }

/* # Media Queries
---------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 75em) {
  .site-inner,
  .wrap {
    max-width: 60em; }

  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 46.25em; }

  .content {
    width: 38.75em; }

  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 25em; }

  .sidebar-primary {
    width: 18.75em; } }
@media screen and (max-width: 50em) {
  .site-inner,
  .wrap {
    max-width: 50em; }

  .content,
  .content-sidebar-sidebar .content,
  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-primary,
  .sidebar-secondary,
  .sidebar-sidebar-content .content,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 100%; }

  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    margin: 0;
    width: 100%; } }
/* ## Screen Reader Text
--------------------------------------------- */
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden; }

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus {
  clip: auto !important;
  height: auto;
  width: auto;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 23px 14px;
  color: #333;
  background: #fff;
  z-index: 100000;
  /* Above WP toolbar. */
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); }

.more-link {
  position: relative; }

/* # Skip Links
-------------------------------------------------- */
.genesis-skip-link {
  margin: 0; }

.genesis-skip-link li {
  height: 0;
  width: 0;
  list-style: none; }

/* Display outline on focus */
:focus {
  color: #333;
  outline: #ccc solid 1px; }

/* ## Accessible Menu
--------------------------------------------------- */
.menu .menu-item:focus {
  position: static; }

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
  left: auto;
  opacity: 1; }

.featured-content .entry {
  margin-bottom: 20px;
  padding: 0 0 24px;
  border-bottom: 2px solid #f5f5f5; }

.featured-content .entry-title {
  font-size: 1.2em; }

.entry {
  margin-bottom: 40px;
  padding: 50px 60px; }

.content .entry {
  margin-top: 11em; }

.entry-content ol,
.entry-content ul {
  margin-bottom: 28px;
  margin-left: 40px; }

.entry-content ol > li {
  list-style-type: decimal; }

.entry-content ul > li {
  list-style-type: disc; }

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0; }

.entry-content code {
  background-color: #333;
  color: #ddd; }

.entry-title {
  font-size: 2em; }

.entry-title a,
.sidebar .widget-title a {
  color: #333; }

.entry-title a:hover,
.entry-title a:focus {
  color: #c3251d; }

p.entry-meta {
  font-size: 0.9em;
  margin-bottom: 0; }

.entry-header .entry-meta {
  margin-bottom: 24px; }

.entry-footer .entry-meta {
  border-top: 2px solid #f5f5f5;
  padding-top: 24px; }

.entry-categories,
.entry-tags {
  display: block; }

.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px; }

.entry-content .search-form {
  width: 50%; }

/* ## Comments
--------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
  background-color: #fff;
  margin-bottom: 40px; }

.comment-respond,
.entry-pings {
  padding: 40px 40px 16px; }

.entry-comments {
  padding: 40px; }

.comment-header {
  font-size: .9em; }

li.comment {
  background-color: #f5f5f5;
  border: 2px solid #fff;
  border-right: 0; }

.comment-content {
  clear: both;
  word-wrap: break-word; }

.comment-list li {
  margin-top: 24px;
  padding: 32px; }

.comment-list li li {
  margin-right: -32px; }

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%; }

.comment-respond label {
  display: block;
  margin-right: 12px; }

.entry-comments .comment-author {
  margin-bottom: 0; }

.entry-pings .reply {
  display: none; }

.form-allowed-tags {
  background-color: #f5f5f5;
  font-size: .9em;
  padding: 24px; }

.hidden {
  display: none; }

.home .site-inner {
  max-width: none; }

.home .header .wrap {
  max-width: none; }

.hero {
  background: no-repeat scroll;
  background: no-repeat scroll;
  background-position: top;
  background-size: cover;
  padding-bottom: 3em;
  min-height: 31.25em; }
  .hero .hero-inner {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding: 3.5em;
    text-align: center; }
    .hero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    .hero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    .hero .hero-inner .hero-copy {
      text-align: center; }
      .hero .hero-inner .hero-copy h1 {
        color: #fff;
        font-size: 3.5em;
        margin-bottom: 0.5em;
        -webkit-transform: translateY(200px);
        -moz-transform: translateY(200px);
        -ms-transform: translateY(200px);
        -o-transform: translateY(200px);
        transform: translateY(200px);
        float: right; }
        @media screen and (max-width: 48em) {
          .hero .hero-inner .hero-copy h1 {
            float: none;
            font-size: 2.5em; } }

.section-copy {
  padding: 1.5em; }

.what-we-do-section {
  min-height: 25em;
  border-top: 10px solid #c9c8c7; }
  .what-we-do-section .section-heading {
    color: #96c93d; }

.section-heading {
  font-family: "cooper_hewittbook", "Verdana", sans-serif;
  font-size: 3.5em;
  text-align: center;
  padding-top: 1em; }
  @media screen and (max-width: 31.25em) {
    .section-heading {
      padding-top: 0; } }

.our-services-section {
  min-height: 46.875em;
  border-top: 10px solid #c9c8c7; }
  .our-services-section .section-heading {
    color: #fff;
    margin-bottom: 0; }
    @media screen and (max-width: 31.25em) {
      .our-services-section .section-heading {
        padding-bottom: 0.5em; } }
  @media screen and (max-width: 31.25em) {
    .our-services-section {
      min-height: 87.5em; } }

.icon-map .list-icon:nth-child(2) {
  padding-top: 4.375em; }
  @media screen and (max-width: 31.25em) {
    .icon-map .list-icon:nth-child(2) {
      padding-top: 0; } }

.icon-container {
  text-align: center; }
  .icon-container .icon-map {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .icon-container .icon-map:last-child {
      margin-right: 0; }
    .icon-container .icon-map .list-icon {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .icon-container .icon-map .list-icon:last-child {
        margin-right: 0; }
  .icon-container .icon-map-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 17.05961%; }
    .icon-container .icon-map-2:last-child {
      margin-right: 0; }
    .icon-container .icon-map-2 .list-icon {
      float: left;
      display: block;
      margin-right: 5.85151%;
      width: 36.4891%; }
      .icon-container .icon-map-2 .list-icon:last-child {
        margin-right: 0; }

@media screen and (max-width: 60em) {
  .icon {
    width: 75%; } }
@media screen and (max-width: 31.25em) {
  .icon-container .icon-map,
  .icon-container .icon-map-2 {
    width: 100%;
    margin-left: 0%;
    float: left;
    display: block;
    margin-right: 16.03631%;
    width: 100%; }
    .icon-container .icon-map:last-child,
    .icon-container .icon-map-2:last-child {
      margin-right: 0; }
    .icon-container .icon-map .list-icon,
    .icon-container .icon-map-2 .list-icon {
      width: 100%;
      float: left;
      display: block;
      margin-right: 16.03631%;
      width: 100%; }
      .icon-container .icon-map .list-icon:last-child,
      .icon-container .icon-map-2 .list-icon:last-child {
        margin-right: 0; } }
.list-icon {
  opacity: 0.4; }

.icon-name {
  text-transform: uppercase;
  color: #fff;
  font-family: "cooper_hewittsemibold", "Verdana", sans-serif;
  font-size: 1.5em;
  line-height: 1.2;
  padding: 1rem; }

.list-icon:hover {
  opacity: 1; }

.equation-section {
  border-top: 10px solid #c9c8c7;
  color: #fff;
  min-height: 37.5em;
  text-align: center; }
  .equation-section .section-copy {
    -webkit-transform: translateY(175px);
    -moz-transform: translateY(175px);
    -ms-transform: translateY(175px);
    -o-transform: translateY(175px);
    transform: translateY(175px); }
  .equation-section .large-quotes {
    font-family: "cooper_hewittsemibold_italic", "Verdana", sans-serif;
    font-size: 4.5em; }

.equation,
.equation-container p {
  display: inline-block;
  font-family: "cooper_hewittsemibold", "Verdana", sans-serif;
  font-size: 2em; }
  .equation .large-plus,
  .equation .large-equal-sign,
  .equation-container p .large-plus,
  .equation-container p .large-equal-sign {
    color: #96c93d;
    padding-right: 0.46875em;
    padding-left: 0.46875em;
    font-size: 2.2em;
    vertical-align: middle; }

@media screen and (max-width: 60em) {
  .equation-section .section-copy {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px); } }
  @media screen and (max-width: 60em) and (max-width: 48em) {
    .equation-section .section-copy {
      -webkit-transform: translateY(25px);
      -moz-transform: translateY(25px);
      -ms-transform: translateY(25px);
      -o-transform: translateY(25px);
      transform: translateY(25px); } }

@media screen and (max-width: 48em) {
  .large-quotes {
    font-size: 3.5em; } }
@media screen and (max-width: 48em) and (max-width: 31.25em) {
  .equation-section {
    min-height: 0; }
    .equation-section .large-quotes {
      font-size: 3em; }

  .equation-container {
    display: none; } }
.testimonials-section {
  min-height: 25em;
  text-align: center;
  border-top: 10px solid #c9c8c7;
  border-bottom: 10px solid #c9c8c7; }
  .testimonials-section p {
    font-family: "cooper_hewittsemibold_italic", "Verdana", sans-serif;
    color: #96c93d;
    font-size: 1.5625em; }
    @media screen and (max-width: 31.25em) {
      .testimonials-section p {
        font-size: 1.125em;
        line-height: 2;
        text-align: left; } }

.archive-description {
  font-size: 0.9em;
  margin-bottom: 40px;
  padding: 40px; }

.archive-description p:last-child {
  margin-bottom: 0; }

.archive-title {
  font-size: 1.2em; }

#input_2_4 {
  width: 47.5%; }

/* Responsive Menu
--------------------------------------------- */
.responsive-menu-icon {
  cursor: pointer;
  display: none;
  text-align: center; }

.responsive-menu-icon::before {
  content: "\f0c9";
  display: inline-block;
  font: normal 20px/1 'FontAwesome';
  margin: 0 auto;
  padding: 16px 7px 16px 16px; }

.nav-primary .responsive-menu-icon::before {
  color: #333; }

.menu-text {
  color: #333;
  margin-top: 1em; }

@media screen and (max-width: 48em) {
  ul.genesis-nav-menu.responsive-menu > .menu-item > .sub-menu,
  ul.genesis-nav-menu.responsive-menu {
    display: none;
    background-color: #5c6770; }

  ul.genesis-nav-menu.responsive-menu .menu-item,
  .responsive-menu-icon {
    display: block; }

  .genesis-nav-menu.responsive-menu .menu-item {
    margin: 0; }

  .genesis-nav-menu.responsive-menu .menu-item:hover {
    position: static; }

  .genesis-nav-menu.responsive-menu .current-menu-item > a,
  .genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
  .genesis-nav-menu.responsive-menu .sub-menu a,
  .genesis-nav-menu.responsive-menu a,
  .genesis-nav-menu.responsive-menu a:hover {
    background: #333;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #eee;
    line-height: 1;
    padding: 16px 20px; }

  .nav-primary .genesis-nav-menu.responsive-menu .current-menu-item > a,
  .nav-primary .genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
  .nav-primary .genesis-nav-menu.responsive-menu a:hover {
    color: #96c93d; }

  .genesis-nav-menu.responsive-menu .menu-item-has-children {
    cursor: pointer; }

  .genesis-nav-menu.responsive-menu .menu-item-has-children > a {
    margin-right: 60px; }

  .genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
    content: "\f347";
    float: right;
    font: normal 16px/1 'dashicons';
    height: 16px;
    padding: 16px 20px;
    right: 0;
    text-align: right;
    z-index: 9999; }

  .nav-primary .genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
    color: #333; }

  .genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
    content: "\f343"; }

  .genesis-nav-menu.responsive-menu .sub-menu {
    border: none;
    left: auto;
    opacity: 1;
    padding-left: 25px;
    position: relative;
    transition: opacity 0.4s ease-in-out;
    width: 100%;
    z-index: 99; }

  .genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
    margin: 0; }

  .genesis-nav-menu.responsive-menu .sub-menu li a {
    background: none;
    border: none;
    padding: 12px 20px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

  .genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
  .genesis-nav-menu.responsive-menu .sub-menu li a:hover {
    color: #c9c8c7; } }
.widget {
  word-wrap: break-word; }

.widget ol > li {
  list-style: decimal inside;
  padding-left: 20px;
  text-indent: -20px; }

.widget li li {
  border: 0;
  margin: 0 0 0 30px;
  padding: 0; }

.widget_calendar table {
  width: 100%; }

.widget_calendar td,
.widget_calendar th {
  text-align: center; }

.widget-title {
  color: #fff;
  font-size: 1.6em;
  margin-bottom: 20px; }

.widget_search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px; }

/* ## Pagination
--------------------------------------------- */
.pagination {
  clear: both;
  margin: 40px 0; }

.adjacent-entry-pagination {
  margin-bottom: 0; }

.archive-pagination li {
  display: inline; }

.archive-pagination li a {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: .9em;
  padding: 8px 12px;
  text-decoration: none; }
  .archive-pagination li a:hover, .archive-pagination li a:focus,
  .archive-pagination li a .archive-pagination .active a {
    background-color: #c3251d;
    text-decoration: underline; }

@media screen and (max-width: 50em) {
  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .entry-pings,
  .sidebar .widget,
  .site-header {
    padding: 0; }

  .archive-pagination li a {
    margin-bottom: 4px; } }
.author-box {
  background-color: #fff;
  font-size: 0.9em;
  margin-bottom: 40px;
  padding: 40px; }

.author-box-title {
  font-size: 0.9em;
  margin-bottom: 4px; }

.author-box p:last-child {
  margin-bottom: 0; }

.avatar {
  float: left; }

.alignleft .avatar,
.author-box .avatar {
  margin-right: 24px; }

.alignright .avatar {
  margin-left: 24px; }

.comment .avatar {
  margin: 0 16px 24px 0; }

.site-header {
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  text-align: right;
  width: 100%;
  z-index: 999; }

.title-area {
  float: left;
  padding-top: 1.25em; }
  @media screen and (max-width: 48em) {
    .title-area {
      float: none;
      padding-right: 0;
      text-align: center; } }

@media screen and (max-width: 60em) {
  .site-title a img {
    width: 15.625em; } }
  @media screen and (max-width: 60em) and (min-width: 48em) and (max-width: 60em) {
    .site-title a img {
      width: 12.5em; } }

.genesis-nav-menu .menu-item {
  display: inline-block;
  text-align: left; }

.genesis-nav-menu a {
  display: block;
  font-family: "cooper_hewittmedium", "Verdana", sans-serif;
  font-size: 1.125em;
  padding: 30px 20px; }

.genesis-nav-menu .sub-menu {
  left: -9999px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.4s ease-in-out;
  width: 200px;
  z-index: 99; }

.genesis-nav-menu .sub-menu a {
  border: 1px solid #eee;
  border-top: 0;
  color: #fff;
  font-size: 0.8em;
  padding: 20px;
  position: relative;
  width: 200px;
  word-wrap: break-word; }

.genesis-nav-menu .sub-menu .sub-menu {
  margin: -55px 0 0 199px; }

.genesis-nav-menu .menu-item:hover {
  position: static; }

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1; }

.genesis-nav-menu > .first > a {
  padding-left: 0; }

.genesis-nav-menu > .last > a {
  padding-right: 0; }

.genesis-nav-menu > .right {
  color: #fff;
  float: right;
  list-style-type: none;
  padding: 30px 0; }

.genesis-nav-menu > .right > a {
  display: inline;
  padding: 0; }

.genesis-nav-menu > .rss > a {
  margin-left: 48px; }

.genesis-nav-menu > .search {
  padding: 10px 0 0; }

.genesis-nav-menu .search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px; }

.site-header .sub-menu {
  border-top: 1px solid #eee; }

.site-header .sub-menu .sub-menu {
  margin-top: -56px; }

.site-header .genesis-nav-menu li li {
  margin-left: 0; }

.nav-primary {
  padding-top: 2em; }
  @media screen and (max-width: 48em) {
    .nav-primary {
      padding-top: 0; } }

.nav-primary .genesis-nav-menu a {
  color: #5c6770;
  text-transform: uppercase;
  background-color: #c9c8c7; }
  .nav-primary .genesis-nav-menu a:hover, .nav-primary .genesis-nav-menu a:active {
    background-color: #c9c8c7;
    color: #fff; }
  .nav-primary .genesis-nav-menu a:hover {
    -webkit-transition: opacity 1s ease-in 0s, width 2s ease-in 2s;
    -moz-transition: opacity 1s ease-in 0s, width 2s ease-in 2s;
    transition: opacity 1s ease-in 0s, width 2s ease-in 2s; }

@media screen and (max-width: 60em) {
  .genesis-nav-menu li,
  .site-header ul.genesis-nav-menu,
  .site-header .nav-primary {
    float: none; }

  .genesis-nav-menu {
    text-align: center; }

  .genesis-nav-menu a,
  .genesis-nav-menu > .first > a,
  .genesis-nav-menu > .last > a {
    padding: 1.25em 0.4375em; }

  .genesis-nav-menu li.right {
    display: none; } }
@media screen and (max-width: 48em) {
  .site-header .nav-primary {
    padding-right: 0; } }
.nav-primary .genesis-nav-menu {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start; }
  .nav-primary .genesis-nav-menu .menu-item > a {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.sidebar {
  font-size: 1.6rem;
  margin-top: 0.9375em; }

.sidebar p:last-child,
.sidebar ul > li:last-child {
  margin-bottom: 0; }

.sidebar .widget {
  padding: 0 40px; }

.footer-widgets .wrap {
  padding-top: 2em;
  padding-bottom: 2em; }

.footer-widgets a,
.footer-widgets p {
  color: #fff;
  font-style: normal; }

.home .gfield_label {
  color: #96c93d; }

.home .gform_wrapper .top_label input.medium,
.home .gform_wrapper .top_label select.medium {
  padding: 15px 0;
  width: 100%; }

.gform_wrapper .gform_footer input.button {
  background: #96c93d; }

.footer-widgets {
  background-image: url("/wp-content/themes/hbmi-theme/assets/images/footer-bg.png");
  background-size: cover;
  min-height: 31.25em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2em;
  padding-bottom: 2em; }
  .footer-widgets::after {
    clear: both;
    content: "";
    display: table; }

.footer-copyright {
  text-align: right;
  color: #fff;
  padding-right: 1em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px); }
  @media screen and (max-width: 48em) {
    .footer-copyright {
      text-align: center;
      padding-right: 0; } }

/*# sourceMappingURL=style.css.map */
