// General styles for Archive,
// Tag, Category
.archive-description {
  background-color: #fff;
  font-size: 0.9em;
  margin-bottom: 40px;
  padding: 40px;
}

.archive-description p:last-child {
  margin-bottom: 0;
}

.archive-title {
  font-size: 1.2em;
}
