.hidden {
  display: none;
}

.home .site-inner{
	max-width: none;
	padding-top: 0;
}

.home .header .wrap {
	max-width: none;
}

.hero {
  @include background(no-repeat scroll);
  background-position: top;
  background-size: cover;
  padding-bottom: 3em;
  min-height: em(500);

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1 {
        color: $white;
        font-size: $section-heading;
        margin-bottom: 0.5em;
        @include transform(translateY(200px));
        float: right;

        @include media($small-screen-up) {
          float: none;
					font-size: $medium-font-size + 0.5em;
				}
      }
    }
  }
}



// General Page Elements

.row-wrapper {
 // @include row();

  .outer-container {
  //@include outer-container;
  }
}

.section-copy {
    padding: 1.5em;
}


// What We Do
.what-we-do-section {
  min-height: em(400);
  border-top: $section-border;

  .section-heading {
    color: $green;
  }
}

.section-heading {
  font-family: $base-font-family;
  font-size: $section-heading;
  text-align: $text-center;
  padding-top: 1em;

	@include media($xsmall-screen-up) {
		padding-top: 0;
	}
}

// Our Services
.our-services-section {
  min-height: em(750);
  border-top: $section-border;

  .section-heading {
    color: $white;
    margin-bottom: 0;

		@include media($xsmall-screen-up) {
			padding-bottom: 0.5em;
		}
  }

	@include media($xsmall-screen-up) {
		min-height: em(1400);
	}
}

.home .icon-map .list-icon:nth-child(2) {
	padding-top: em(70);

	@include media($xsmall-screen-up) {
		padding-top: 0;
	}
}

.home .icon-container {
  text-align: $text-center;

  .icon-map {
    @include span-columns(12);

    .list-icon {
			@include span-columns(4 of 12);
		}
	}

  .icon-map-2 {
    @include span-columns(10);
    @include shift(2);

    .list-icon {
      @include span-columns(2 of 5);
    }
  }
}

@include media($large-screen-up) {
	 .home .icon {
		width: 75%;
	}
}

@include media($xsmall-screen-up) {
	.home .icon-container .icon-map,
	.home .icon-container .icon-map-2 {
		@include fill-parent;
		@include shift(0);
		@include span-columns(2);

		.list-icon {
			@include fill-parent;
			@include span-columns(2 of 2);
		}
	}
}

.list-icon {
	opacity: 0.4;
}

.icon-name {
	text-transform: uppercase;
	color: $white;
	font-family: $heading-font-family;
	font-size: $small-heading;
	line-height: $heading-line-height;
	padding: 1rem;
}

.list-icon:hover {
	opacity: 1;
}

// Equation Section
.equation-section {
  border-top: $section-border;
  color: $white;
  min-height: em(600);
  text-align: $text-center;

  .section-copy {
    @include transform(translateY(175px));
  }

  .large-quotes {
    font-family: $cooper-semibold-italic;
    font-size: $section-heading + 1em;
  }
}

.equation,
.equation-container p {
	display: inline-block;
	font-family: $cooper-bold;
	font-size: $medium-font-size;

  .large-plus,
  .large-equal-sign {
    color: $green;
    @include padding(null em(7.5));
    font-size: $medium-font-size + 0.2;
    vertical-align: middle;
  }
}

@include media($large-screen-up) {
	.equation-section .section-copy {
		@include transform(translateY(100px));

		@include media($small-screen-up) {
			@include transform(translateY(25px));

		}
	}
}

@include media($small-screen-up) {
	.large-quotes {
		font-size: $section-heading;
	}

	@include media($xsmall-screen-up) {
		.equation-section {
			min-height: 0;

			.large-quotes {
				font-size: $medium-font-size + 1em;
			}
		}

		.equation-container {
			display: none;
		}
	}
}

// Testimonials Section

.testimonials-section {
  min-height: em(400);
  text-align: $text-center;
  border-top: $section-border;
  border-bottom: $section-border;

  p {
    font-family: $cooper-semibold-italic;
    color: $green;
    font-size: em(25);

		@include media($xsmall-screen-up) {
			font-size: $base-font-size;
			line-height: 2;
			text-align: left;
		}
  }
}