.hidden {
	display: none;
}

.home .site-inner {
  max-width: none;
}

.hero {
	$base-border-radius: 3px !default;
	$action-color: #477dca !default;
	$large-screen: em(860) !default;
	$hero-background-top: #7f99be;
	$hero-background-bottom: #20392b;
	$gradient-angle: 10deg;

	@include background(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
	background-color: #324766;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 3em;
	min-height: em(500px);

	.hero-inner {
		@include outer-container;
		@include clearfix;
		margin: auto;
		padding: 3.5em;
		text-align: center;

		.hero-copy {
			text-align: center;

			h1 {
				color: $dark-gray;
				font-size: $large-heading-font-size;
				margin-bottom: 0.5em;
				@include transform(translateY(200px));
				float: right;

				@include media($large-screen) {
					font-size: 3em;
				}
			}
		}
	}
}



// General Page Elements

.row-wrapper {
  @include row();

  .outer-container {
  @include outer-container;
  }
}

// What We Do
.what-we-do-section {
	min-height: em(400px);
	border-top: $section-border;

	.section-heading {
		color: $green;
	}
}

.section-heading {
	font-family: $base-font-family;
	font-size: $section-heading;
	text-align: $text-center;
	padding-top: 1em;
}

// Our Services
.our-services-section {
	min-height: em(750px);
	border-top: $section-border;

	.section-heading {
		color: $white;
		margin-bottom: 0;
	}
}

.icon-container {
	text-align: $text-center;
	@include row();

	.icon-map {
		@include span-columns(12);
		@include shift(1.5);

		.list-icon {
			display: inline-block;
			@include span-columns(3 of 12);

			.list-icon:nth(2n+1) {
				padding-top: 2em;
			}
		}
	}

	.icon-map-2 {
		@include span-columns(6);
		@include shift(3);

		.list-icon {
			@include span-columns(3 of 6);

		}
	}
}

// Equation Section
.equation-section {
	border-top: $section-border;
	color: $white;
	min-height: em(600px);
	text-align: $text-center;

	.section-copy {
		@include transform(translateY(225px));
	}

	.large-quotes {
		font-family: $cooper-semibold-italic;
		font-size: $large-heading-font-size;
	}
}

.equation,
.equation-container p {
	font-size: $medium-font-size;
	display: inline-block;
	font-family: $cooper-bold;

	.large-plus,
	.large-equal-sign {
		color: $green;
		@include padding(null em(7.5px));
		font-size: $medium-font-size + 0.2;
		vertical-align: middle;
	}
}

// Testimonials Section

.testimonials-section {
	min-height: 400px;
	text-align: $text-center;
	border-top: $section-border;
	border-bottom: $section-border;

	p {
		font-family: $cooper-semibold-italic;
		color: $green;
		font-size: em(25px);
	}
}